<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" />
	<title>狼人护卫队</title>
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<script src="js/jquery-2.1.0.js"></script>
</head>
<body>
	<img src="img/enemy.png" id="enemy_img" style="display:none;" />
	<img src="img/tower2.png" id="tower_img" style="display:none;" />
	<img src="img/bullet.png" id="bullet_img" style="display:none;" />
	<img src="img/btn.png" id="btn_img" style="display:none;" />
	<img src="img/map-gezi1.jpg" id="map-gezi1" style="display: none">
	<img src="img/bg.jpg" id="map-gezi2" style="display: none">
	<img src="img/info-bg.png" id="info_bg" style="display: none">
	<img src="img/tower-background.png" id="tower_bg" style="display: none">
	<img src="img/gold.png" id="gold_bg" style="display: none">
	<audio src="music/mybgm.mp3" loop></audio>
	<div class="main-box">
		<div class="menu"  >
			<div class="button-box"  >
				<div class="button" id="start">
					<span>开始游戏</span>
				</div>
				<div class="button" id="scores">
					<span>排行榜</span>
				</div>
				<div class="button" id="help">
					<span>游戏帮助</span>
				</div>
				<div class="button" id="return" hidden>
					<span>返回游戏</span>
				</div>
			</div>
			<div id="rank"hidden>
				<ul id="map_list">
					<li id="map1" class="choose">
						<img src="img/map_1.png" height="110" width="230" class="map_img1">
						<img src="img/map_bgshodow1.png" height="115" width="240" class="map_img2">
					</li>
					<li id="map2" >
						<img src="img/map_2.png" height="110" width="230" class="map_img1">
						<img src="img/map_bgshodow1.png" height="115" width="240" class="map_img2">
					</li>
					<li id="map3" >
						<img src="img/map_3.png" height="110" width="230" class="map_img1">
						<img src="img/map_bgshodow1.png" height="115" width="240" class="map_img2">
					</li>
					<li id="map4">
						<img src="img/map_4.png" height="110" width="230" class="map_img1">
						<img src="img/map_bgshodow1.png" height="115" width="240" class="map_img2">
					</li>
				</ul>
				<div id="rank_list">
					<h2>排行榜</h2>
					<table id="rank_table" border="10" cellspacing="10">
						<tr name = "rank_title">
							<th>名次</th>
							<th>用户名</th>
							<th>得分</th>
						</tr>
					</table>
					<div class="button" id="rank_back">
						<span>返回菜单</span>
					</div>
				</div>
			</div>
			<div class="help" hidden >
				<div class="help-left">
					<div class="introduction">
						<h2>游戏简介</h2>
						<p>&nbsp;欢迎来到“狼人护卫队”塔防，在游戏中，你将扮演“领导者”的角色来指挥勇士们抵御敌人的进攻。以下是游戏中的三种基本元素：<br/>
							&nbsp;<span>金币：</span>在初始时你拥有100单位的金币，建造和升级角色需要消耗金币。杀死怪物会获得一定的金币。<br/>
							&nbsp;<span>生命值：</span>初始你拥有10单位的生命值，当一个怪物成功突破你的防线时，生命值将减一。生命值归零时游戏结束。<br/>
							&nbsp;<span>积分：</span>每当你击败一个怪物，你将得到相应的积分，最终的积分由你击杀所得到的积分和你剩余金币的总和决定。游戏结束时，你可以选择将积分上传至服务器。
						</p>
					</div>
					<div class="enemy">
						<h2>敌方单位</h2>
						<p>游戏中有20种游戏怪物，他们随着波数出现和消失，不同的怪物拥有不同的移动速度和血量。
						</p>
						<img src="img/白痴.png" width="400" height="65" style="font-size:0">
					</div>
				</div>
				<div class="help-right">
					<div class="person">
						<h2>游戏角色</h2>
						<p>
							&nbsp;每个角色都拥有自己不同的技能，而且可以提升到3级，每次升级之后攻击范围和攻击速度都会获得提高。<br/>
							&nbsp;<span>盗贼</span>：三级时获得“偷窃”能力，每次攻击偷取一金币。<br/>
							&nbsp;<span>守卫</span>：拥有“减速”能力，三级时可以同时减速两个目标。<br/>
							&nbsp;<span>猎人</span>：拥有“多重攻击”能力，可以攻击多个目标。<br/>
							&nbsp;<span>预言家</span>：拥有“透射”能力，攻击能穿透目标单位。<br/>
							&nbsp;<span>巫师</span>：拥有“毒药”能力，攻击时有一定几率毒死目标。
						</p>
						<img src="img/help-person.png" width="400" height="110" style="font-size:0">
						<div class="button" id="help-back">
							<span>返回菜单</span>
						</div>
					</div>
				</div>
				</div>
		</div>
		<div class="maps" hidden>
			<h1>选择地图</h1>
			<ul id="select_map">
				<li name="1">
					<h2>关卡模式I</h2>
					<img src="img/map_1.png" height="160" width="340" class="map_img1">
					<img src="img/map_bgshodow1.png" height="165" width="355" class="map_img2">
				</li>
				<li name="2"  class="choose">
					<h2>关卡模式II</h2>
					<img src="img/map_2.png" height="160" width="340" class="map_img1">
					<img src="img/map_bgshodow1.png" height="165" width="355" class="map_img2">
				</li>
				<li name="3">
					<h2>循环模式</h2>
					<img src="img/map_3.png" height="160" width="340" class="map_img1">
					<img src="img/map_bgshodow1.png" height="165" width="355" class="map_img2">
				</li>
				<li name="4">
					<h2>随机地图模式</h2>
					<img src="img/map_4.png" height="160" width="340" class="map_img1">
					<img src="img/map_bgshodow1.png" height="165" width="355" class="map_img2">
				</li>
			</ul>
			<div class="maps_buttons">
				<div id="maps-back" class="button"><span>返回菜单</span></div>
				<div id="start_game" class="button"><span>开始游戏</span></div>
			</div>

		</div>

		<div id="game" hidden >
			<div id="game_buttons" class="button-box">
				<div class="button ">
					<span>暂停</span>
				</div>
				<div class="button">
					<span>退出</span>
				</div>
				<div id="music">
				</div>
			</div>
			<div id="game_next">
				<span class="game_speedtext"><b>1</b>倍速</span>
				<div id="game_speeddown"><<</div>
				<div id="game_speedup">>></div>
			</div>
			<canvas id="info" width="1000" height="600" ></canvas>
			<canvas id="map" width="1000" height="500" ></canvas>
			<canvas id="main" width="1000" height="500"></canvas>
			<canvas id="tower" width="1000" height="500" ></canvas>
			<canvas id="select" width="1000" height="500" ></canvas>
			<canvas id="list" width="1000" height="80" style="display: none"></canvas>
		</div>

        <div id="fail" hidden>
            <h1>游戏失败</h1>
            <div class="player-score">
                <h3>你的得分</h3>
                <span id="last_score">1000</span>
				<span id="upload_text">告诉我们你的名字，<br>并上传分数！</span>
				<div id="upload_score">
					<input type="text" value="" id="player_name" placeholder="您的名字！">
					<input id="upload_button" type="button" value="提交">
				</div>
            </div>
			<div class="button">
                    <span>返回菜单</span>
			</div>
			<div id="upload_result" hidden>
			</div>
        </div>
</body>
<script type="text/javascript" src="js/tools.js"></script>
<script type="text/javascript" src="js/MapData.js"></script>
<script type="text/javascript" src="js/Map.js"></script>
<script type="text/javascript" src="js/Info.js"></script>
<script type="text/javascript" src="js/Enemy.js"></script>
<script type="text/javascript" src="js/Tower.js"></script>
<script type="text/javascript" src="js/Bullet.js"></script>
<script type="text/javascript" src="js/Game.js"></script>
<script type="text/javascript" src="js/Rank.js"></script>
<script type="text/javascript" src="js/Main.js"></script>

<script type="text/javascript">

	$(document).ready(function(){
		Game.init();
		Main.init();
	});

</script>
</html>
